REACT_APP_CONTRACT_ADDRESS=
REACT_APP_CONTRACT_URL=
REACT_APP_CHAIN_ID_MAIN=56
REACT_APP_CHAIN_ID_TEST=97
REACT_APP_CHAIN_ID=0x38
REACT_APP_CHAIN=0
REACT_APP_TELEGRAM="https://t.me/TheTruckFarmOficial"
REACT_APP_TELEGRAM_ES="https://t.me/TheTruckFarmOficial"
REACT_APP_TELEGRAM_ANNOUNCEMENT_CHANNEL="https://t.me/TheTruckFarmOficial"
REACT_APP_TWITTER="https://twitter.com/TheTruck_Farm"
REACT_APP_TWITTER_USER="TheTruck_Farm"
REACT_APP_WHITEPAPER_EN="https://thetruckfarmassociation.gitbook.io/the-truck-farm-en/"
REACT_APP_WHITEPAPER_ES="https://thetruckfarmassociation.gitbook.io/the-truck-farm/"
REACT_APP_REVIEW="https://whitepaper.monstersadventuresnft.io/"
REACT_APP_AUDIT="https://whitepaper.monstersadventuresnft.io/"

REACT_APP_TOKEN_URL="https://bscscan.com/token/0x974eae2489e0a0137ec39d6823a86c2d86d52006"


REACT_APP_TOKEN_MAT=0x974eae2489e0a0137ec39d6823a86c2d86d52006
REACT_APP_TOKEN_MASTER_CHEF_v2=0x27326B51dCC1Bd741952DC9a9118185Febda29ED
REACT_APP_TOKEN_VAULT=0xE4453Ca1Cc368294201548CbC90eC16BBda483d7
REACT_APP_PANCAKE_ROUTER=0x10ED43C718714eb63d5aA57B78B54704E256024E
REACT_APP_WBNB=0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c
REACT_APP_BUSD=0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56



#NODE_ENV=production

token1Test = 0x781056cD79BFa928AAdD5b354EBB932a1c5946F9
token2Test = 0x9b79F2d8F0Db8a5dCC5a3F58Af8dE1dEa76cE20E
vault = 0x3840B0df91871738747f40931f40846b8c798346
masterchef = 0x944a626c3E36a4f45f1f1D7084416784bDfdBbcf
const pancakeAddress = process.env.REACT_APP_CHAIN==0?"0x10ED43C718714eb63d5aA57B78B54704E256024E":'0xD99D1c33F9fC3444f8101754aBC46c52416550D1'
const vaultAddress = process.env.REACT_APP_CHAIN==0?"0x284FCD9f6eCd0666855FfCF0E147ed2F5CC43736":'0x9c06ee8691752106415dFe559104Bb5CE4AC0eC2'